@use '../abstracts/' as *;

header {
  margin-inline-start: 6rem;
  & .NavBar {
    position: relative;
    width: 60%;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      top: 4.5rem;
      left: -45rem;
      height: 1px;
      width: 47.3rem;
      background: #979797;
      pointer-events: initial;
    }

    @include media('<desk') {
      &::after {
        height: 0;
        width: 0;
      }
    }

    @include media('<=mid') {
      display: none;
    }
  }

  & .bars {
    display: none;

    @include media('<=mid') {
      display: block;
      margin-inline-end: 6rem;
    }
  }
}
