@use '../abstracts' as *;
/*********** BODY ************/

body {
  position: relative;
  background-color: hsl(var(--clr-neutral-200));

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
