@use '../abstracts' as *;
/*********** BODY ************/

body {
  position: relative;
  // background-color: var(--clr-bg-100);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: 1.8rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
