@use '../abstracts' as *;

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: hsl(var(--clr-neutral-200));
}

%heading {
  color: var(--clr-txt-500);
  font-weight: var(--fw-400);
}

.heading-1 {
  @extend %heading;
  font-size: 4rem;
}
.heading-2 {
  @extend %heading;
  font-size: 3.2rem;
}
.heading-3 {
  @extend %heading;
  font-size: 2rem;
}
.heading-4 {
  @extend %heading;
  font-size: 1.7rem;
}
.heading-5 {
  @extend %heading;
  font-size: 1.333rem;
}

.lead {
  margin-bottom: 1.25rem;
  font-size: 1.8rem;
}
p {
  color: var(--clr-txt-400);
}
small,
.text_small {
  font-size: 0.75rem;
}
