$colors: (
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 90%),
    300: hsl(0, 0%, 70%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 10),
    900: hsl(0, 0%, 0%),
  ),
  primary: (
    100: hsl(250, 50%, 100%),
    200: hsl(250, 50%, 90%),
    300: hsl(250, 50%, 70%),
    400: hsl(250, 50%, 60%),
    500: hsl(250, 50%, 50%),
    600: hsl(250, 50%, 40%),
    700: hsl(250, 50%, 30%),
    800: hsl(250, 50%, 10%),
    900: hsl(250, 50%, 0%),
  ),
  secondary: (
    100: hsl(150, 50%, 100%),
    200: hsl(150, 50%, 90%),
    300: hsl(150, 50%, 70%),
    400: hsl(150, 50%, 60%),
    500: hsl(150, 50%, 50%),
    600: hsl(150, 50%, 40%),
    700: hsl(150, 50%, 30%),
    800: hsl(150, 50%, 10%),
    900: hsl(150, 50%, 0%),
  ),
  accent: (
    100: hsl(50, 50%, 100%),
    200: hsl(50, 50%, 90%),
    300: hsl(50, 50%, 70%),
    400: hsl(50, 50%, 60%),
    500: hsl(50, 50%, 50%),
    600: hsl(50, 50%, 40%),
    700: hsl(50, 50%, 30%),
    800: hsl(50, 50%, 10%),
    900: hsl(50, 50%, 0%),
  ),
  new-color: (
    100: hsl(50, 50%, 100%),
    200: hsl(50, 50%, 90%),
    300: hsl(50, 50%, 70%),
    400: hsl(50, 50%, 60%),
    500: hsl(50, 50%, 50%),
    600: hsl(50, 50%, 40%),
    700: hsl(50, 50%, 30%),
    800: hsl(50, 50%, 10%),
    900: hsl(50, 50%, 0%),
  ),
);
