$colors: (
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 90%),
    300: hsl(0, 0%, 70%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 10),
    900: hsl(0, 0%, 0%),
  ),
  primary: (
    100: hsl(230, 35%, 7%),
  ),
  secondary: (
    100: hsl(231, 77%, 90%),
  ),
  accent: (
    100: hsl(50, 50%, 100%),
  ),
  new-color: (
    100: hsl(50, 50%, 100%),
  ),
);
