<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        display: grid;
        place-content: center;
        color: hsl(0, 0%, 100%);
        background-color: hsl(230, 35%, 7%);
        font-family: 'Barlow', sans-serif;
      }
      a {
        color: currentColor;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Hello and Welcome! to the <%= title %>. &male; && &female;</h1>
    <p>Click on these links to view the data</p>
    <li><a href="/data">ALL THE DATA</a></li>
    <li><a href="/crew">THE CREW</a></li>
    <li><a href="/destinations">THE DESTINATIONS</a></li>
    <li><a href="/technology">THE TECHNOLOGY</a></li>
  </body>
</html>
