@use '../abstracts/' as *;

/*********** FLEX ************/
%flex {
  display: flex;
  gap: var(--gap, var(--spacer));
}

.split {
  --width: 72rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 60em) {
    flex-direction: row;
  }

  & > * + * {
    margin: var(--spacer) 0 0 0;
    @media (min-width: 60em) {
      margin: 0 0 0 var(--spacer);
    }
  }
}
