@use '../abstracts' as *;
/*********** BODY ************/

body {
  position: relative;
  color: hsl(var(--clr-neutral-100));
  background-color: hsl(var(--clr-primary-100));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
