@use '../abstracts' as *;

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

%heading {
  color: hsl(var(--clr-neutral-100));
  font-weight: var(--fw-400);
  text-transform: uppercase;
}

%font-primary {
  font-family: var(--ff-primary);
}
%font-secondary {
  font-family: var(--ff-secondary);
}
%font-accent {
  font-family: var(--ff-accent);
}

/**** MAIN HEADINGS ****/
.heading-1 {
  @extend %heading;
  @extend %font-secondary;
  font-size: 15rem;
}
.heading-2 {
  @extend %heading;
  @extend %font-secondary;
  font-size: 10rem;
}
.heading-3 {
  @extend %heading;
  @extend %font-secondary;
  font-size: 5.6rem;
}
.heading-4 {
  @extend %heading;
  @extend %font-secondary;
  font-size: 3.2rem;
}
.heading-5 {
  @extend %heading;
  @extend %font-primary;
  font-size: 2.8rem;
  letter-spacing: 4.75px;
}

/**** SUB HEADINGS ****/
.heading-6 {
  @extend %heading;
  @extend %font-secondary;
  font-size: 2.8rem;
}

.heading-7 {
  @extend %heading;
  @extend %font-primary;
  font-size: 2.8rem;
  letter-spacing: 2.35px;
}

.nav-text {
  @extend %heading;
  @extend %font-primary;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

small,
.text_small {
  font-size: 0.75rem;
}
